
.table-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color:blanchedalmond;
  justify-content: center;
}

.table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid rgb(194, 119, 7);
 
}

.table thead th {
  background-color:rgb(232, 147, 21);
  border: 1px solid rgb(194, 119, 7);
  padding: 10px;
  text-align: left;
}

.table tbody tr {
  border: 1px solid rgb(194, 119, 7);
}


.table tbody td {
  padding: 10px;
}
